* /*{
    box-sizing: border-box;
}
*/
h1,
h2 {
    text-align: center;

}



ul {
    width: 100px;
    height: 200px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    width: 100px;
 
    border: 1px solid black; 
}

.container{
    align-items:center; 
    align-content: space-around;
    flex-direction: row;
    display: flex;
    flex-flow: grid;
    row-gap: 10px;
    flex: 4;
    
}
